{% extends 'base.html' %}

{% block title %}Chatbot{% endblock %}

{% block content %}
<div class="container">
    <div class="chat-box" id="chat-box">
        <!-- Chat messages will be dynamically appended here -->
    </div>
    <div class="input-box">
        <input type="text" id="user-input" placeholder="Ask me anything..." class="form-control">
        <button id="send-btn" class="btn btn-danger">Send</button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
$(document).ready(function() {
    // Send button click event
    $("#send-btn").click(function() {
        var userMessage = $("#user-input").val();
        if(userMessage.trim() != "") {
            appendMessage(userMessage, 'user');
            getBotResponse(userMessage);
            $("#user-input").val('');
        }
    });

    // Function to display message
    function appendMessage(message, sender) {
        var messageHTML = '<div class="message ' + sender + '">' + message + '</div>';
        $('#chat-box').append(messageHTML);
        $('#chat-box').scrollTop($('#chat-box')[0].scrollHeight); // Scroll to the latest message
    }

    // Function to get response from the backend
    function getBotResponse(userMessage) {
        $.ajax({
            type: "POST",
            url: "{% url 'chatbot' %}",
            data: {
                'message': userMessage,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                var botMessage = response.response;
                appendMessage(botMessage, 'bot');
            },
            error: function() {
                appendMessage("Sorry, I couldn't get a response. Please try again.", 'bot');
            }
        });
    }
});
</script>

{% endblock %}
